appdirs==1.4.4
autopep8==1.5.4
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet 
click==7.1.2
cryptography 
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
idna 
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
jsonify==0.5
MarkupSafe==1.1.1
numpy==1.19.4
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pyOpenSSL 
PySocks 
requests 
ruamel-yaml==0.15.87
scikit-learn==0.24.0
six 
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm 
urllib3 
Werkzeug==1.0.1
